<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% layout('layouts/boilerplate') %>
        <h1>Add Workout</h1>
        <form action="/exerciselog" method="post" class="row g-3 needs-validation" novalidate>
            <input type="hidden" name="date" value="dateInput" required>
            <input type="hidden" name="exercisetype" value="strength" required>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Exercise Name</label>
                <input type="text" class="form-control" id="validationCustom01" name="exercisename" required>
                <div class="invalid-feedback">
                    Please provide a exercise name.
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Number Of Sets</label>
                <input type="text" class="form-control" id="validationCustom02" name="numofsets" required>
                <div class="invalid-feedback">
                    Please provide number of sets.
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="validationCustom03" class="form-label"># of Repetitions</label>
                <input type="text" class="form-control" id="validationCustom03" name="repetitions" required>
                <div class="invalid-feedback">
                    Please provide number of repetitions.
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom05" class="form-label">Weight</label>
                <input type="text" class="form-control" id="validationCustom05" name="weight" required>
                <div class="invalid-feedback">
                    Please provide the weight.
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
        <a href="/add_to_strength">Return to adding a workout</a>
        <br>
        <a href="/exerciselog">Return to Log</a>
        <script src="/scripts/newDate.js"></script>
</body>

</html>
