<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Exercise.css">
</head>

<body>
    <% layout('layouts/boilerplate') %>
        <h1>Enter Data here</h1>
        <h2>Search Here:</h2>
        <input type="text" id="searchInput" onkeyup="filterResults()" placeholder="Search">
        <h3>Matches Found Here:</h3>
        <div id="containerExercise">
            <% for(let workout of addExercise){%>
                <p class="exercise">
                    <%= workout.name %>
                </p>
                <% } %>
                    <p>Did not find what you are looking for? <a href="add_new_workout">Click Here to Add a new
                            Workout</a></p>
        </div>
        <br>
        <a href="/exerciselog">Go Back to Log</a>
        <script src="/scripts/Search.js"></script>
       
</body>

</html>
