<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <link href="/styles/styles.css" rel="stylesheet">
</head>

<body>
    <% layout('layouts/boilerplate') %>

        <div class="container text-center">
            <div class="row">
                <div class="col-6">
                    <div id="calendar"></div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <button onclick="togglePopup2()">Add Reminder</button>
                </div>
            </div>
        </div>

        <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">&times;</div>
                <h1>Welcome! Once Again</h1>
                <p>Have you exercised today?</p>
                <form id="exerciseForm">
                    <input type="radio" id="yes" name="input" value="yes" />
                    <label for="yes">Yes</label>
                    <div></div>
                    <input type="radio" id="no" name="input" value="no" />
                    <label for="no">No, I have not</label>
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="popup2" id="popup-2">
            <div class="overlay2"></div>
            <div class="content2">
                <div class="close-btn2" onclick="togglePopup2()">&times;</div>
                <h1>Setting up Reminder! </h1>
                <form id="reminderForm">
                    <label for="date1">Date:</label>
                    <input type="date" id="date1">
                    <br>
                    <label for="text1">Reminder Text:</label>
                    <input type="text" id="text1">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div id="eventModal" class="modal">
            <div class="modal-content">
                <div class="overlay3"></div>
                <span class="close">&times;</span>
                <input type="hidden" id="eventId">
                <h2 id="eventTitle"></h2>
                <p id="eventStart"></p>
                <div class="row">
                    <button class="editbtn" onclick="editReminders()">Edit</button>
                    <button type="submit" class="deletebtn" onclick="deleteReminders()">Delete</button>
                </div>
            </div>
        </div>



        <div id="eventModal2" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Edit Reminder</h2>
                <form id="editReminderForm">
                    <input type="hidden" id="editEventId" name="editEventId" >
                    <br>
                    <label for="editDate">Date:</label>
                    <input type="date" id="editDate" name="editDate" required>
                    <br>
                    <label for="editText">Text:</label>
                    <input type="text" id="editText" name="editText" required>
                    <br>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
        


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/scripts/calendar.js"></script>

</body>

</html>
