#body{
    background-color: #1d1e22;
}
p,span,.idea{
    color: white;
    font-weight: bold;
}
img{
    border: 0.1rem solid;
    margin-top: 3rem;
}
#carouselExampleAutoplaying{
    height: auto;
    width: auto;
}
.quote {
    border: 2px solid rgba(0, 0, 0, 0.015); 
    background-color: rgba(0, 0, 0, 0.01);
    padding: 10px; 
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: "Oswald";
    font-weight: 500;
}
#TYG{
    font-size: x-large;
    margin-top: 1rem;
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 400;
}
footer{
    color: white;
}
.contain{
    border: 0.125rem solid rgba(255, 255, 255, 0.2); 
    border-radius: 1rem;
    /* filter: blur(1px) brightness(0.75); */
    background-size: cover;
}
#btn1{
    background-color: #001427;
}
