#body{
    background-color: black;
}
.div-background{
    width: 100%;
    min-height: 100vh;
    background-image: url(/ImageUsage/background-image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 30rem;
}
.div-background .container{
    padding-bottom: 10vh;
}
p,span,.idea{
    color: white;
    font-weight: bold;
}
img{
    border: 0.1rem solid;
    margin-top: 3rem;
}
#carouselExampleAutoplaying{
    height: auto;
    width: auto;
}
.quote {
    border: 2px solid rgba(0, 0, 0, 0.015); 
    background-color: rgba(0, 0, 0, 0.01);
    padding: 10px; 
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: "Oswald";
    font-weight: 500;
}
#TYG{
    font-size: x-large;
    margin-top: 1rem;
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 400;
    margin-bottom: 10vh;
}
footer{
    color: white;
}
.contain{
    border: 0.125rem solid rgba(255, 255, 255, 0.2); 
    border-radius: 1rem;
    background-size: cover;
}
#btn1{
    background-color: #001427;
}
.user{
    color: black;
}

