<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/styles/FitTrack.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
</head>

<body id="body">
    <% layout('layouts/boilerplate') %>
        <div class="div-background">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div id="carouselExampleAutoplaying" class="carousel slide text-center" data-bs-ride="carousel">
                            <div class="carousel-inner text-center">
                                <div class="carousel-item active text-center">
                                    <img src="/ImageUsage/image1.webp" class="d-block w-100" alt="Dumbells">
                                </div>
                                <div class="carousel-item text-center">
                                    <img src="/ImageUsage/image2.jpg" class="d-block w-100" alt="Treadmill">
                                </div>
                                <div class="carousel-item text-center">
                                    <img src="/ImageUsage/image3.jpeg" class="d-block w-100" alt="Crunch exercise">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <p id="TYG">Track <b>YOUR</b> Goals with <u>Fit Tracker</u></p>




            <div class="container text-center">
                <div class="row">
                    <div class="col-6" style="margin-top: 100px;">
                        <div class="contain">
                            <div class="g-col-6 g-col-md-4">
                                <p class="quote"><q>A little progress each day adds up to big results</q></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div style="width: 35rem;">
                            <img src="ImageUsage/addcardio.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="col-6">
                        <div style="width: 35rem;">
                            <img src="ImageUsage/progress.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="margin-top: 100px;">
                        <div class="contain">
                            <div class="g-col-6 g-col-md-4">
                                <p class="quote"><q>Fitness is not a <b>destination</b> it's a way of life</q></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container text-center">
                <div class="row">

                    <div class="col-6">
                        <div class="contain" style="margin-top: 100px;">
                            <div class="g-col-6 g-col-md-4">
                                <p class="quote"><q>Train the same or remain the same</q></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div style="width: 35rem;">
                            <img src="ImageUsage/dairyreport.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="col-6">
                        <div style="width: 35rem;">
                            <img src="ImageUsage/reminder2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="margin-top:100px;">
                        <div class="contain">
                            <div class="g-col-6 g-col-md-4">
                                <p class="quote"><q>A one hour workout is 4% of your day</q></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>

</html>
