<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fit Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Exercise
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/exerciselog">Exercise Log</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/progress">Progress</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/financials">Financials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/findnearyou">Search</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex ms-auto p-0 gap-2">
                    <% if(!currentUser) {%>
                    <a class="nav-link" href="/LoginPG">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="" 
                        id="login">Login</button>
                    </a>
                    <a class="nav-link" href="/SignupPG">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="" 
                        id="Signup">Sign Up</button>
                    </a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">
                        <button type="button" class="btn btn-secondary btn-sm" onclick=""
                            id="logout">Logout</button>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>
