<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/../styles/LoginPage.css">
</head>

<body>
    <% layout('layouts/boilerplate') %>
    <div class="body">
        <div class="wrapper">
            <form action="/SignupPG" method="post" class="needs-validation" novalidate>
                <h2>Sign Up</h1>
                    <div class="input">
                        <input class="form-control" type="text" placeholder="Username" name="username" required>
                        <div class="valid-feedback"> Looks good!</div>
                    </div>
                    <div class="input">
                        <input class="form-control" type="email" placeholder="Email" name="email" required>
                        <div class="valid-feedback"> Looks good!</div>
                    </div>
                    <div class="input">
                        <input class="form-control" type="password" placeholder="Password" name="password" required>
                        <div class="valid-feedback"> Looks good!</div>
                    </div>
                    <div>
                        <button type="submit" class="btn" register="Sign Up">Sign Up</button>
                    </div>
            </form>
        </div>
    </div>
</body>

</html>
